@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@layer base {
  body {
    @apply overflow-hidden text-primary font-secondary bg-[#f8deea];
  }
  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 subpixel-antialiased;
  }
  .h3 {
    @apply text-[24px] lg:text-[24px] font-primary font-semibold leading-[120%] tracking-[-0.05em] mb-5 subpixel-antialiased;
  }
  .section {
    @apply h-screen w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary bg-primary text-white;
  }
  * {
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  }
}
